
<main>

<div class="row mx-5 container" >
<div class="card card-form row col-md-6 background-secondary align-self-start"  >
    <div class="row" >
      <div class="col-6" id="center-sm">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: "img-avatar" %>
        <% else %>
          <%= image_tag("png-clipart-apple-icon-format-icon-person-outline-white-monochrome.png", :class => "img-avatar") %>
        <% end %>
      </div>
      <div class="col-5 ms-5">
        <h1><%=@user.first_name%>'s profile</h1>
        <p><strong>First Name:</strong> <%= @user.first_name %></p>
        <p><strong>Last Name:</strong> <%= @user.last_name %></p>
        <p><strong>Adress:</strong></p>
        <%= @user.adress %><br>
        <%= @user.zip_code %><br>
        <%= @user.town %><br>
        <p><strong>Email:</strong> <%= @user.email %></p>
      </div>
    </div>
    <div class="d-flex justify-content-end mb-2 ms-1 mt-3">
      <% if current_user == @user %>
        <button class=" button-primary-sm"><%= link_to 'Edit Profile', edit_user_registration_path(@user), class: "text-decoration-none" %></button>
        <%= button_to 'Delete My Account', user_path(current_user), method: :delete, data: { confirm: 'Are you sure you want to delete your account?' }, class: "button-primary-sm ms-1" %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "button-primary-sm ms-1" %>
      <% end %>
    </div>
  </div>
  <div class="card card-form row col-md-6 background-secondary ms-3" id="center-sm">
    <% @order.each_with_index do |order, i| %>
      <div class="card-order my-1">  
        <p class="border-pink">Order <%="#{i+1}"%></p><p class="text-pink-color">Date: <%=order[i].created_at%></p>
        <%sum =[]%>
        <div class="d-inline-flex flex-wrap ">
         <%order.each do |o|%>
            <div class="d-inline-flex me-1 mb-1">
              <div class="box-miniature d-flex justify-content-center align-items-center">
              <%= link_to product_path(o.product) do %>
                <%= image_tag("#{o.product.image_url}", class: "img-order") %>
              <% end %>
              
              </div>
            </div>
              <%sum.push(o.product.price)%>
          <%end%>
       </div>
        <p class="text-pink-color">Total : <%=sum.sum%>&euro;</p>
      </div>
    <%end%>
  </div>
</div>

</main>
