
<% @cart.cart_products.each do |cart_product| %>
  <%= cart_product.product.name %>
  <img src=<%= cart_product.product.image_url %>>
  <%= cart_product.product.price %>
    <%= form_with(url: cart_product_path(cart_product), method: :delete) do |f| %>
    <%= f.submit "Remove" %>
    <% end %>
<% end %>
<p>Total : <%= @cart.total_price %></p>

