<div class="d-flex m-2 justify-content-around">
  <div class="container mt-5 flex-grow-1">
    <div class="row">
      <% @cart.cart_products.each do |cart_product| %>
      <div class="background-secondary card-kitty m-1 d-flex flex-column">
        <img src=<%= cart_product.product.image_url %> class="card-img-top img-fluid rounded h-50" alt="Kitten Image">
        <div class="m-auto">
          <h3 class="category text-center"><%= cart_product.product.name%></h3>
          <p class="card-text"> <%= cart_product.product.description%></p>
        </div>
        <div class="mb-1 d-flex justify-content-between">
          <p class="my-auto"><em>Price :<%= cart_product.product.price %>€</em></p>
          <%= form_with(url: cart_product_path(cart_product), method: :delete, data: {turbo_method: :delete}) do |f| %>
            <%= button_to "Remove", cart_product_path(cart_product), method: :delete, class: "button-primary", "turbo_method": :delete %>

          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="background-secondary text-center mt-5 p-5  d-flex rounded">
    <div class="m-auto">
      <h2 class="m-auto"><em>Total : <%= @cart.total_price %></em></h2>
      <!--<%# form_with(url: , ) do |f| %>
          <%# f.submit "Confirm" %>
        <%#end %>-->
    </div>
  </div>
</div>
