
<main>
<%= render "layouts/jumbotron" %>
<div class="container">
<div class="row">
<% @products.each do |product| %>
  <div class="background-secondary card-kitty col-md-4">
<img src=<%= product.image_url %> class="card-img-top img-fluid rounded-top" alt="Kitten Image">
<div class="card-body background-secondary">
    <h3 class="category"><%= product.name%></h3>
    <p class="card-text"> <%= product.description%></p>
    <div class="d-flex justify-content-end align-items-end">
        <button class=" button-primary">  <%= link_to "Show", product_path(product.id)%></button>
    </div>
</div>
</div>
<% end %>
</div>
</div>
</main>
