<main class="overflow-hidden">
  <div class="row mt-5">
    <div class="col-md-4 ms-5">
      <div class="card shadow-sm border-0">
        <img src=<%= @product.image_url %> class="card-img-top rounded" alt="Kitten Photo">
      </div>
    </div>
    <div class="col-md-6 p-5">
      <div class="card-form background-secondary shadow-sm border-0 p-3">
        <div class="card-body">
          <h2 class="category display-4"><%= @product.name %></h2>
          <p class="card-text"><%= @product.description %></p>
          <div class="d-flex justify-content-end align-items-center">
            <div class="text-muted">
              <p class="card-text text-white"><em>Price: <%= @product.price %>€</em></p>
            </div>
            <div class="">
              <%= form_tag add_to_cart_path(@product), method: :post do %>
                <%= submit_tag "Add to Cart", class:"button-primary ms-2" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
